In [1]:
import numpy as np
import pandas as pd

In [207]:
jhu = pd.read_csv('time_series_covid19_confirmed_global.csv').drop(['Quarantined','Q_Date'],axis = 1)
response = pd.read_csv('OxCGRT_timeseries_all.csv')
response.drop([149,150,151], axis = 0, inplace= True)
response[response == 0] = np.nan

In [208]:
response['avg_stringency_index'] = np.nanmean(response.iloc[:, 2:], axis=1)
response['first_response_day'] = response.iloc[:,2:].apply(lambda series: series.first_valid_index(), axis = 1)
response['last_response_day'] = response.iloc[:,2:113].apply(lambda series: series.last_valid_index(), axis = 1)

In [209]:
df = response[['CountryName','avg_stringency_index','first_response_day','last_response_day']]

In [210]:
jhu_v2 = jhu.merge(df.rename(columns={'CountryName':'Country/Region'}), how='left')

In [214]:
jhu_v2['first_response_day'] = pd.to_datetime(jhu_v2['first_response_day'])
jhu_v2['last_response_day'] = pd.to_datetime(jhu_v2['last_response_day'])
response['first_response_day'] = pd.to_datetime(response['first_response_day'])
response['last_response_day'] = pd.to_datetime(response['last_response_day'])
response

,CountryName,CountryCode,01jan2020,02jan2020,03jan2020,04jan2020,05jan2020,06jan2020,07jan2020,08jan2020,...,14apr2020,15apr2020,16apr2020,17apr2020,18apr2020,19apr2020,20apr2020,avg_stringency_index,first_response_day,last_response_day
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.695652,2020-03-15,2020-04-06
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,71.0,71.0,71.0,NaN,NaN,53.081633,2020-03-01,2020-04-18
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,71.0,NaN,NaN,NaN,NaN,31.056338,2020-02-06,2020-04-16
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,86.0,86.0,86.0,86.0,86.0,86.0,65.642857,2020-02-25,2020-04-20
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.655172,2020-03-16,2020-04-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Venezuela,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,86.0,NaN,NaN,NaN,NaN,NaN,60.500000,2020-02-28,2020-04-15
145,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,NaN,NaN,NaN,NaN,64.120482,2020-01-25,2020-04-16
146,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,NaN,NaN,NaN,NaN,NaN,40.928571,2020-01-23,2020-04-15
147,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,48.0,NaN,NaN,NaN,NaN,NaN,29.054545,2020-02-21,2020-04-15
148,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,88.0,88.0,88.0,88.0,88.0,NaN,73.882353,2020-03-17,2020-04-19

In [212]:
#jhu_v2.to_csv('jhu_w_quarantine_data.csv')

In [215]:
response_v2 = jhu.merge(response.rename(columns={'CountryName':'Country/Region'}), how='left') 
bad_cols = response_v2.iloc[:,4:116].columns
response_v2 = response_v2.drop(bad_cols, axis =1)

new_cols = pd.to_datetime(response_v2.iloc[:,4:94].columns).strftime("%m/%d/%Y")

response_v2.rename(columns=dict(zip(response_v2.columns[4:94], new_cols)),inplace=True)
response_v2

,Province/State,Country/Region,Lat,Long,01/22/2020,01/23/2020,01/24/2020,01/25/2020,01/26/2020,01/27/2020,...,04/14/2020,04/15/2020,04/16/2020,04/17/2020,04/18/2020,04/19/2020,04/20/2020,avg_stringency_index,first_response_day,last_response_day
0,NaN,Afghanistan,33.000000,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,71.0,71.0,71.0,NaN,NaN,53.081633,2020-03-01,2020-04-18
1,NaN,Albania,41.153300,20.168300,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,86.0,86.0,86.0,86.0,86.0,86.0,65.642857,2020-02-25,2020-04-20
2,NaN,Algeria,28.033900,1.659600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.275000,2020-03-05,2020-04-13
3,NaN,Andorra,42.506300,1.521800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.655172,2020-03-16,2020-04-13
4,NaN,Angola,-11.202700,17.873900,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,71.0,NaN,NaN,NaN,NaN,31.056338,2020-02-06,2020-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,NaN,5.0,12.0,12.0,12.0,12.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,53.831461,2020-01-23,2020-04-20
260,NaN,South Sudan,6.877000,31.307000,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,90.0,90.0,NaN,NaN,NaN,NaN,50.811321,2020-02-24,2020-04-16
261,NaN,Western Sahara,24.215500,-12.885800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
262,NaN,Sao Tome and Principe,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
263,NaN,Yemen,15.552727,48.516388,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [216]:
def detect_jump(row):
    jump_day = 0
    for i, str_idx in enumerate(row):
        if i == 0:
            continue
        if np.absolute(row[i-1]-row[i])>35 and np.absolute(row[i-1]-row[i])> jump_day:
            jump_day = response_v2.columns[i+5]
    return jump_day

In [217]:
jumps = []
for i, row in response_v2.iterrows():
    #print(row[5:94])
    jumps.append(detect_jump(row[5:94]))

In [218]:
response_v2['big_jump_day'] = jumps
response_v2[response_v2==0] = np.nan

In [219]:
response_v2

,Province/State,Country/Region,Lat,Long,01/22/2020,01/23/2020,01/24/2020,01/25/2020,01/26/2020,01/27/2020,...,04/15/2020,04/16/2020,04/17/2020,04/18/2020,04/19/2020,04/20/2020,avg_stringency_index,first_response_day,last_response_day,big_jump_day
0,NaN,Afghanistan,33.000000,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,71.0,71.0,NaN,NaN,53.081633,2020-03-01,2020-04-18,NaN
1,NaN,Albania,41.153300,20.168300,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,86.0,86.0,86.0,86.0,86.0,65.642857,2020-02-25,2020-04-20,03/09/2020
2,NaN,Algeria,28.033900,1.659600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,64.275000,2020-03-05,2020-04-13,NaN
3,NaN,Andorra,42.506300,1.521800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,43.655172,2020-03-16,2020-04-13,03/25/2020
4,NaN,Angola,-11.202700,17.873900,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,71.0,NaN,NaN,NaN,NaN,31.056338,2020-02-06,2020-04-16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,NaN,5.0,12.0,12.0,12.0,12.0,...,100.0,100.0,100.0,100.0,100.0,100.0,53.831461,2020-01-23,2020-04-20,NaN
260,NaN,South Sudan,6.877000,31.307000,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,90.0,NaN,NaN,NaN,NaN,50.811321,2020-02-24,2020-04-16,NaN
261,NaN,Western Sahara,24.215500,-12.885800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
262,NaN,Sao Tome and Principe,0.186360,6.613081,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
263,NaN,Yemen,15.552727,48.516388,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN

In [220]:
response_v2.to_csv('stringency_time_series.csv')